@import '~antd/dist/antd.css';

.App {
  margin-top: 3rem;
}

.App-logo {
  
  width: 50px;
}

.App h1{
  margin-bottom: 0;
  color: purple;
  font-weight: bold;
}

.title-container{
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-bottom: 3rem;
}